@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');



*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(37, 37, 37)
}


.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}


.banner{
    position: absolute;
    top: 40%;
    left: 20%;
}

.banner h1{
    color: #ffff;
    
}
